aiogram==3.4.1

SQLAlchemy>=2.0
aiosqlite
alembic~=1.18.4

redis

fastapi
uvicorn

jinja2

python-dotenv~=1.2.2

openpyxl~=3.1.5

pydantic
pydantic-settings

python-slugify~=8.0.4

orjson

apscheduler

aiofiles
Markdown~=3.10.2
weasyprint~=69.0